<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>XLSForm Online</title>
	<!-- Bootstrap CSS Toolkit styles -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<style type="text/css">
	.keepformatting {
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
	}
	.footer {
      text-align: center;
   }
   .footer a {
      text-decoration: underline;
   }
	</style>
	<script src="https://thirtyfive-england.getodk.org/script.js" data-site="PBSTMJFG" defer></script>
	<script src="/static/js/jquery.min.js"></script>
	<script type="text/javascript">
$(document).ready(function() {
	$('#myForm').submit(function() {
		$('#submitBtn').replaceWith('<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>');
	});
});
	</script>
</head>
<body>

{% block upload %}
<form enctype="multipart/form-data" method="post" class="alert alert-info" id="myForm">
   <table>
       {{form.as_table}}
    </table>
   {% csrf_token %}
    <input type="submit" value="Submit" id="submitBtn" class="btn btn-info" />
</form>
{% endblock %}

{% if result %}
	{% if error %}
	<div class="alert alert-error keepformatting">{{ error }}</div>
	{% else %}
		{% if success %}
		<div class="alert alert-success">
			<a href="{{ xml_path }}" class="btn btn-success">Download XForm</a>
			{% if itemsets_url %}
			<a href="{{ itemsets_url }}" class="btn btn-success">Download external choices CSV</a>
			{% endif %}
			<a href="https://enketo.getodk.org/preview?form={{ xml_url | urlencode }}" target="_blank" class="btn btn-success">Preview in browser</a>
		</div>
		{% endif %}
	{% endif %}

	{% for warning in warnings %}
	    <div class="alert keepformatting">{{ warning }}</div>
	{% endfor %}
{% endif %}

<div id="output">
</div>
<p class="footer">By using this web app, you agree to our <a href="https://getodk.org/legal/tos.html" target="_blank">Terms of Service</a> and <a href="https://getodk.org/legal/privacy.html" target="_blank">Privacy Policy</a>.</p>
</body>
</html>
